  <h4>参考文献</h4>
  <% column.literatures.each do |f| %>
    <%= f.document %> <%= link_to "削除", column_literature_path(column, f), remote:true, method: :delete %></br>
  <%end%>
  <div class="m-3">
    <%= form_with model: literature, url: column_literatures_path(column), remote:true do |l| %>
      <%= l.text_field :document %>
      <%= l.submit '投稿' %>
    <% end %>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key} alert-view") %>
    <% end %>
  </div>