  <h4>参考文献</h4>
  <% column.literatures.each do |f| %>
    <% unless f.id == nil %>
      <%= f.document %> <%= link_to "削除", column_literature_path(column, f), remote:true, method: :delete, class: "tsbtn btn-16" %></br>
    <%end%>
  <%end%>
  <div class="m-3">
    <%= form_with model: literature, url: column_literatures_path(column), class: "d-flex" , remote:true do |l| %>
      <%= l.text_field :document, class: "form-control", required: true %>
      <%= render 'layouts/error_messages', obj: literature, column: :document %>
      <%= l.submit '追加' , class: "tsbtn btn-12 my-0" %>
    <% end %>
  </div>