  <h4>参考文献</h4>
  <% patch.literatures.each do |f| %>
    <%= f.document %> <%= link_to "削除", text_patch_literature_path(text,patch,f), remote:true, method: :delete %></br>
  <%end%>
  <div class="m-3">
    <%= form_with model: literature, url: text_patch_literatures_path(text,patch), remote:true do |l| %>
      <%= l.text_field :document %>
      <%= l.submit '投稿' %>
    <% end %>
  </div>