<% posts.not_answerd.each do |c|%>
  <!--掲示板コメント表示-->
  <div class="post-box" id ="reply-<%=c.number%>">
    <div class="post-top">
      <%= c.number %>.
      <% if c.user.profile_image.attached? %>
        <%= image_tag c.user.profile_image, class: "icon-image"%>
      <% else %>
        <%= image_tag 'logo2.png', class: "icon-image" %>
      <% end %>
      <%=c.user.name%>
      <% if current_user == c.user && topic.question == true%>
        <div class="dropdown">
          <button class="dropdown-toggle btn-not menu-item" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-thumbtack"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= form_with model: c, url: topic_post_path(topic,c) , local:true do |f| %>
              <%= f.hidden_field :answer , value: true %>
              <%= f.submit 'このコメントを回答に変更する。' ,class: "btn-not"%>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="post-body">
      <% if c.parent_id.present? %>
        <a href ="#reply-<%=c.parent.number%>"><%= c.parent.number %>.@<%= c.parent.user.name%></a>
      <% end %>
      <%=safe_join(c.body.split("\n"),tag(:br))%></br>
      <%#=c.entities_array%>
      <!--<span class="sentiment-score">  <%#= c.score %></span>-->
    </div>
    <div class="post-bottom">
      <!--返信画面表示用div-->
      <div class ="btn-reply-<%= c.id%>" style ="display: none;"></div>
      <!--掲示板の機能一覧-->
      <div class="post-bottom-function">
        <div class="post-bottom-function-1">
          <%= link_to  topic_post_ajax_path(topic,c) ,remote:true do %>
            <i class="fas fa-reply pr-2"></i>
          <% end %>
          <% if c.children.present? %>
            <%= link_to  topic_post_ajax2_path(topic,c) ,remote:true do %>
              <i class="fas fa-comments"></i>
            <% end %>
          <% end %>
          <% if c.children.present? %>
            <% c.children.each do |child| %>
              <a href ="#reply-<%=child.number%>">>><%= child.number%></a>
            <% end %>
          <% end %>
        </div>
        <div class="like_area like-<%=c.class%><%=c.id%>">
          <%= render "public/likes/like_area2" ,{content: c} %>
        </div>
      </div>
      <hr class="cp_hr08" />
      <!--子要素の表示画面-->
      <% if c.children.present? %>
        <div class="ml-3 reply-post-<%=c.id%>" style ="display: none;"></div>
      <% end %>
    </div>
  </div>
<% end %>

<script>
  $('.btn-reply').on('click',function(){
     $(this).children().slideDown();
  });
</script>