<% comments.each do |c| %>
  <% if c != comment %>
    <div class="l-comment-view">
      <div class= "comment"  id="index-comment-<%=comment.id%>">
        <div class="faceicon">
          <%= attachment_image_tag c.speaker, :profile_image, fallback: "logo2.png", class: "faceicon-image" %>
          <br />
          <%= c.speaker.name %>
        </div>
        <div class="says">
          <p><%= c.body %></p>
          <span class="time">
            <%=l c.created_at , format: :short%>
          </span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% if current_user.present? || current_admin.present? %>
  <%= form_with model: comment, url: comments_path , remmote:true do |f| %>
    <%= f.label :body , 'コメント欄'%><br />
    <div class="d-flex">
      <%= f.text_field :body ,class: "ml-3 form-control"%>
      <%= f.hidden_field :article_id %>
      <%= f.hidden_field :article_type %>
      <%= f.submit '投稿' ,class: "sbtn btn-11 m-0 mx-2 mr-3"%>
    </div>
  <% end %>
<% end %>

