<div class="l-comment-view">
  <div class= "comment"  id="index-comment-<%=comment.id%>">
    <div class="faceicon">
      <% if comment.speaker.profile_image.attached? %>
        <%= image_tag comment.speaker.profile_image, class: "faceicon-image"%>
      <% else %>
       <%= image_tag "logo2.png", class: "faceicon-image" %>
      <% end %>
      <br />
      <%= comment.speaker.name %>
    </div>
    <div class="says">
      <p><%= comment.body %></p>
      <span class="time">
        <%=l comment.created_at , format: :short%>
      </span>
    </div>
  </div>
</div>