<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<div class="row">
  <div class="col-xl-9 box5">
    <div class="dropdown" id="text-edit-cog">
      <button class="dropdown-toggle btn-not menu-item" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cog"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "削除", admin_text_path(@text), method: :delete ,class: "dropdown-item"%>
      </div>
    </div>
    <h2 class="main text-main">テキスト編集フォーム</h2>
    <!--テキストにセクションの紐付け-->
    <div class="row">
      <div class="col-md-4">
        <%= form_with url: admin_text_ajax1_path(@text), method: :get, remote: true  do |f| %>
          <h4>教科</h4>
          <%= f.collection_select(:subject, @subjects, :id, :name,{prompt: "教科を選択してください"}, {class: "ajax1-select-drop form-control" }) %>
          <span style="display: none;"><%= f.submit :class=>"ajax1-submit"%></span>
        <% end %>
      </div>
      <div class="col-md-4 ajax2-select"></div>
      <div class="col-md-4 ajax3-select"></div>
    </div>
    <div class="ajax4-select row mt-4"></div>
    <%= render 'layouts/error_messages', obj: @section, column: :number %>
    <hr class="cp_hr08" />
    <!--セクション一覧-->
    <table class="table">
      <thead>
        <tr>
          <th>教科書</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @sections.each do |section| %>
        <tr>
          <td><%= section.chapter.textbook_list.title %></td>
          <td><%= section.chapter.number %> - <%= section.number %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <!--テキスト編集画面-->
    <%= form_with model: @text,  url: admin_text_path(@text) ,local:true do |f| %>
      <h4>画像</h4>
      <%= f.file_field :image %>
      <h4>タイトル</h4>
      <%= f.text_field :title ,class: "form-control"%>
      <%= render 'layouts/error_messages', obj: @text, column: :title %>
      <h4>本文</h4>
      <%= f.text_area :body ,id: "my-text-area"%>
      <%= render 'layouts/error_messages', obj: @text, column: :body %>
      <div class="">
        <%= f.radio_button :status, false %>
        <%= f.label :status, '非公開', value: false %>
        <%= f.radio_button :status, true %>
        <%= f.label :status, '公開', value: true %>
      </div>
      <%= f.submit '更新', class: "mbtn btn-11 ml-auto mr-4" %>
    <% end %>
    <hr class="cp_hr08" />
    <!--参考文献-->
    <div class="text_literature">
      <%= render 'admin/literatures/text_new', {literature: @literature, text: @text} %>
    </div>
  </div>
  <div class="col-xl-3">
    <%= render "admin/texts/sample_text"%>
  </div>
</div>
<% if @text.errors.any? %>
  <div id="error_explanation">
    <ul>
     <% @text.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
    </ul>
  </div>
<% end %>



<script>
  $(document).on('page:restore', function () {
    location.reload();    });
  $(document).on('turbolinks:load', function () {
    var easyMDE = new EasyMDE({
        autoDownloadFontAwesome: false,
        minHeight: "250px",
        showIcons: ['strikethrough', 'code', 'table', 'redo', 'heading', 'undo', 'heading-bigger', 'heading-smaller', 'heading-1', 'heading-2', 'heading-3', 'clean-block', 'horizontal-rule'],
        element: document.getElementById('my-text-area'),
        // initialValue: '# EasyMDE \n Go ahead, play around with the editor! Be sure to check out **bold**, *italic* and ~~strikethrough~~ styling, [links](https://google.com) and all the other features. You can type the Markdown syntax, use the toolbar, or use shortcuts like `ctrl-b` or `cmd-b`.'
    });
  });
  $('.text-view').children('table').wrap('<div class="table-scroll">');
  $('.ajax1-select-drop').change(function() {
    $('.ajax1-submit').click();
  });

  $('.ajax3-select-drop').change(function() {
    $('.ajax3-submit').click();
  });

</script>