
<% if order.content_type == "Problem" %>
  <div class="problem-back">
    <div class="problem-main">
      <p>教科：<%= order.content.subject_status %></p>
      <div class="problem-view">
        <%= markdown(order.content.body) %>
      </div>
      <div class="answer-btn">　模範解答▼
        <div  style="display: none;" class="problem-view commentary-main">
          <%= markdown(order.content.answer) %>
        </div>
      </div>
      <% unless order.content.commentary.blank?  %>
        <div class="commentary-btn">　解説▼
          <div  style="display: none;" class="problem-view commentary-main">
            <%= markdown(order.content.commentary) %>
          </div>
        </div>
      <% end %>
      <p>ユーザーネーム：<%=order.content.author.name%></p>
      <%= link_to "結びつきを解除", text_patch_order_path(order.patch.text,order.patch,order), method: :delete %>
    </div>
  </div>
<% elsif order.content_type == "Comment" %>
    <div class="comment-view">
      <div class="faceicon">
        <%= attachment_image_tag order.content.speaker, :profile_image, fallback: "logo2.png", class: "faceicon-image" %>
        <br />
        <%= order.content.speaker.name %>
      </div>
      <div class= "comment">
        <div class="says">
          <p><%= order.content.body %></p>
          <span class="time">
            <%=l order.content.created_at , format: :short%>
          </span>
        </div>
      </div>
      <div class="mt-4"><%= link_to "結びつきを解除", text_patch_order_path(order.patch.text,order.patch,order), method: :delete %></div>

    </div>
<% elsif order.content_type == "Text" %>
  <h1 class="text-main">
    <% if order.content.chapters.first.present? %>
      <span class="chapter"><%= order.content.chapters.first.body %></span>
      <span class="chapter-bar">-</span>
      <span class="section"><%= order.content.chapters.first.section %></span>
    <% end %>
    <%= order.content.title %>
    <% if current_user.present? %>
      <span class="bookmark_area">
        <%= render "public/bookmarks/bookmark_area" ,{content: order.content} %>
      </span></br>
    <% end %>
  </h1>
  <div class="text-view">
    <%= attachment_image_tag order.content,:image,  class: "content-thumbnail" %>
    <%= markdown(order.content.body) %>
    <p>ユーザーネーム：<%= order.content.admin.name %></p>
    <%= link_to "結びつきを解除", text_patch_order_path(order.patch.text,order.patch,order), method: :delete %>
  </div>
<% elsif order.content_type == "Column" %>
  <div class="column-back">
    <div class="column-main">
      <div class="column-title"><%= order.content.title %></div>
      <div class="column-view">
        <%= attachment_image_tag order.content, :image, class: "content-thumbnail" %>
        <%= markdown(order.content.body) %>
        <p>ユーザーネーム：<%= order.content.user.name %></p>
        <%= link_to "結びつきを解除", text_patch_order_path(order.patch.text,order.patch,order), method: :delete %>
      </div>
    </div>
  </div>
<% end %>
