<div class="row">
  <div class="col-lg-9">
    <%= render "public/patches/mini_show",{patch: @patch} %>
    <div class="confirm-box">
      <h3 class="pencil">関連するテキストを選んでください。</h3>
      <span class="quick-drop">
        <%= form_with model: @order ,url: text_patch_order_ajax1_path(@text,@patch), method: :get, remote: true do |f| %>
          <%= f.select :content_type, {'テキスト': 'Text', 'コラム': 'Column', '問題': 'Problem', 'コメント': 'Comment'}, { include_blank: '主に関連する教科を選択してください'}, { class: 'form-control' , required: true } %>
          <%= f.submit '決定', class: "tbtn btn-11 my-2 mb-4"%>
        <% end %>
      </span>
      <div class="content-select">
      </div>
    </div>
    <h3 class="mt-4">すでに結びつけたテキスト</h3>
    <div>
      <% @orders.each do |order| %>
        <%= render 'public/text_patch_orders/content_view', {order: order} %>
        <%= link_to "結びつきを解除", text_patch_order_path(@patch.text, @patch,order), method: :delete , class: "mbtn btn-19 ml-auto mr-4"%>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3">
    <%= link_to text_patch_path(@text, @patch) ,class: "next-btn2" do%>
      <span>パッチ設定を</br>　　完了する</span>
    <% end %>
    <div class="sidebar-index">
      <%= render "layouts/main_content_sidebar",{text: nil ,problem: nil, column: nil, patch: @patch} %>
      <% @orders.each do |order| %>
        <%= render 'public/text_patch_orders/content_sidebar', {order: order} %>
      <% end %>
    </div>
  </div>
  </div>
</div>







<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    showProcessingMessages: false,
    tex2jax: { inlineMath: [['$','$'],['\(','\)']] }
  });
</script>
<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>