<div class="column-main" id="index-column-<%=column.id%>">
  <div class="column-title">
    <%= link_to column_path(column), local:true do %>
      <%= column.title %>
    <% end %>
    <span class="bookmark_area bookmark-<%=column.class%><%=column.id%>">
      <%= render "public/bookmarks/bookmark_area" ,{content: column} %>
    </span></br>
  </div>
  <div class="column-view">
    <%= link_to column_path(column), local:true do %>
      <% if column.image.attached? %>
        <%= image_tag column.image, class: "content-thumbnail" %>
      <% else %>
       <%= image_tag 'logo2.png' , class: "content-thumbnail"%>
      <% end %>
    <% end %>
    <%= markdown(column.body) %>
  </div>
  <div class="content-show-link">
    <%= link_to '詳細ページへ', column_path(column), local:true  %>
  </div>
  <%= render 'public/literatures/column_index', {column: column} %>
  <div class="content-bottom">
    <div class="author-icon">
      <%= link_to user_path(column.user), local:true do %>
        <% if column.user.profile_image.attached? %>
          <%= image_tag column.user.profile_image, class: "icon-image" %>
        <% else %>
         <%= image_tag 'logo2.png', class: "icon-image" %>
        <% end %>
        <%= column.user.name %>
      <% end %>
      <% if column.user == current_user %>
        <div class="dropdown">
          <button class="dropdown-toggle btn-not menu-item" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "編集", edit_column_path(column) ,class: "dropdown-item" ,data: {"turbolinks"=>false}%>
            <%= link_to "削除", edit_column_path(column) ,class: "dropdown-item" ,data: {"turbolinks"=>false}%>
          </div>
        </div>
      <% end %>
    </div>
    <div class="like_area like-<%=column.class%><%=column.id%>">
      <%= render "public/likes/like_area" ,{content: column} %>
    </div>
  </div>
</div>
