<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<div class="row">
  <div class="col-xl-9 box5">
    <div class="dropdown" id="text-edit-cog">
      <button class="dropdown-toggle btn-not menu-item" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cog"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% if @column.user == current_user %>
          <%= link_to "削除", column_path(@column), method: :delete ,class: "dropdown-item"%>
          <%= link_to "テキストリンクの編集", columns_link_path(@column) ,class: "dropdown-item"%>
        <% end %>
      </div>
    </div>
    <h2 class="main column-main">コラム編集フォーム</h2>
    <%= form_with model: @column, local:true do |f| %>
      <h4>画像</h4>
      <%= f.attachment_field :image %>
      <h4>タイトル</h4>
      <%= f.text_field :title ,class: "form-control"%>
      <%= render 'layouts/error_messages', obj: @column, column: :title %>
      <% unless @column.status == "unpublished" %>
        <h4>ステータス</h4>
        <%= f.radio_button :status, 'draft' %>
        <%= f.label :status, '非公開', value: "draft" %>
        <%= f.radio_button :status, 'published' %>
        <%= f.label :status, '公開', value:"published" %>
      <% end %>
      <h4>本文</h4>
      <%= f.text_area :body ,id: "my-column-area"%>
      <%= render 'layouts/error_messages', obj: @column, column: :body %>
      <%= f.submit '更新' , class: "mbtn btn-12 ml-auto mr-4"%>
    <% end %>
    <div class="column_literature">
      <%= render 'public/literatures/column_new', {literature: @literature, column: @column} %>
    </div>
  </div>
  <div class="col-xl-3">
    <%= render "public/columns/sample_column"%>
  </div>
</div>


<script>
  $(document).on('page:restore', function () {
    location.reload();    });
  $(document).on('turbolinks:load', function () {
    var easyMDE = new EasyMDE({
        autoDownloadFontAwesome: false,
        minHeight: "250px",
        showIcons: ['strikethrough', 'code', 'table', 'redo', 'heading', 'undo', 'heading-bigger', 'heading-smaller', 'heading-1', 'heading-2', 'heading-3', 'clean-block', 'horizontal-rule'],
        element: document.getElementById('my-column-area'),
        // initialValue: '# EasyMDE \n Go ahead, play around with the editor! Be sure to check out **bold**, *italic* and ~~strikethrough~~ styling, [links](https://google.com) and all the other features. You can type the Markdown syntax, use the toolbar, or use shortcuts like `ctrl-b` or `cmd-b`.'
    });
  });
  $('.column-view').children('table').wrap('<div class="table-scroll">');
</script>