<h1>Public::Columns#edit</h1>
<p>Find me in app/views/public/columns/edit.html.erb</p>
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<% if @column.errors.any? %>
    <div id="error_explanation">
      <ul>
       <% @column.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
      </ul>
    </div>
  <% end %>
<h1>画像投稿フォーム</h1>
<%= form_with model: @column, local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_area :body ,id: "my-column-area"%>
  <script>
    var easyMDE = new EasyMDE({
      autoDownloadFontAwesome: false,
      showIcons: ['strikethrough', 'code', 'table', 'redo', 'heading', 'undo', 'heading-bigger', 'heading-smaller', 'heading-1', 'heading-2', 'heading-3', 'clean-block', 'horizontal-rule'],
      element: document.getElementById('my-column-area'),
      // initialValue: '# EasyMDE \n Go ahead, play around with the editor! Be sure to check out **bold**, *italic* and ~~strikethrough~~ styling, [links](https://google.com) and all the other features. You can type the Markdown syntax, use the toolbar, or use shortcuts like `ctrl-b` or `cmd-b`.'
    });
  </script>

  <%= f.submit '投稿' %>
<% end %>
<% if @column.user == current_user %>
  <%= link_to "削除", column_path(@column), method: :delete %>
<% end %>

<div class="column_literature">
  <%= render 'public/literatures/column_new', {literature: @literature, column: @column} %>
</div>
