<div class="row">
  <div class="col-lg-9">
    <%= render "public/columns/mini_show",{column: @column} %>
    <h3>関連するテキストを選んでください。</h3>
    <!--テキストを選択して、仮表示ようのrender-->
    <div class="varidation_texts">
      <%= render 'public/links/text', {text: @text, texts: @texts, link: @link, column: @column} %>
    </div>
    <h3>すでに結びつけたテキスト</h3>
    <div>
      <% @links.each do |link| %>
        <div class="my-5">
          <%= render "public/texts/mini_show",{text: link.text} %>
          <%= link_to "結びつきを解除",column_link_path(link.column,link) , class: "mbtn btn-18 ml-auto mr-4",method: :delete%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3">
    <%= link_to column_path(@column) ,class: "next-btn" do%>
      <span>コラム設定を</br>　　完了する</span>
    <% end %>
    <div class="sidebar-index">
      <%= render "layouts/main_content_sidebar",{text: nil ,problem: nil, column: @column, patch: nil} %>
      <%= render "layouts/content_sidebar",{texts: @column.texts ,problems: nil, columns: nil, patches: nil} %>
    </div>
  </div>
</div>




