<h1>Public::Columns#show</h1>
<p>Find me in app/views/public/columns/show.html.erb</p>

<div>
  <%= attachment_image_tag @column, :image, :fill, 60, 60 %>

  <p>単元名：<%= @column.title %></p>
  <p>本文：<%= markdown(@column.body) %></p>
  <p>ユーザーネーム：<%= @column.user.name %></p>

  <div class="d-felx like_area" style ="display:flex;">
    <% if @column.user == current_user %>
      <%= link_to "編集", edit_column_path(@column) %>
      <%= link_to "削除", column_path(@column), method: :delete %>
    <% end %>

    <%= link_to "たしかめ", columns_link_path(@column) %>
    <%= render "public/likes/like_area" ,{content: @liked_content} %>
  </div>

<div style ="width:300px;">
<%= render 'public/literatures/column_index', {literature: @literature, column: @column} %>
<div class = "comment_area">
  <%= render "public/comments/comment_area" ,{comment: @comment, comments: @comments} %>
</div>

