<div class="row">
  <div class="col-lg-9">
    <%= render "public/columns/show",{column: @column} %>
    <% @column.texts.each do |text| %>
      <%= render "public/texts/mini_show",{text: text} %>
    <% end %>
    <div class = "comment_area">
      <%= render "public/comments/comment_area" ,{comment: @comment, comments: @comments} %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="sidebar-index">
      <h4 class="index">目次</h4>
      <%= render "layouts/main_content_sidebar",{text: nil ,problem: nil, column: @column, patch: nil} %>
      <%= render "layouts/content_sidebar",{texts: @column.texts ,problems: nil, columns: nil, patches: nil} %>
    </div>
  </div>
</div>




