<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

<div class="row">
  <div class="col-xl-9 box5">
     <div class="dropdown" id="text-edit-cog">
      <button class="dropdown-toggle btn-not menu-item" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cog"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% if @patch.user == current_user %>
          <%= link_to "削除", text_patch_path(@patch.text, @patch), method: :delete ,class: "dropdown-item"%>
          <%= link_to "パッチテキストリンクの編集", new_text_patch_order_path(@patch.text, @patch) ,class: "dropdown-item"%>
        <% end %>
      </div>
    </div>
    <h2 class="main patch-main">パッチテキスト投稿フォーム</h2>
    <%= form_with model: @patch, url: text_patch_path ,local:true do |f| %>
      <h4>画像</h4>
      <%= f.attachment_field :image %>
      <h4>タイトル</h4>
      <%= f.text_field :title ,class: "form-control"%>
      <%= render 'layouts/error_messages', obj: @patch, column: :title %>
      <% unless @column.status == "unpublished" %>
        <h4>ステータス</h4>
        <%= f.radio_button :status, 'draft' %>
        <%= f.label :status, '非公開', value: "draft" %>
        <%= f.radio_button :status, 'published' %>
        <%= f.label :status, '公開', value:"published" %>
      <% end %>
      <h4>本文</h4>
      <%= f.text_area :body ,id: "my-text-area"%>
      <%= render 'layouts/error_messages', obj: @patch, column: :body %>
      <%= f.submit '更新'  , class: "mbtn btn-14 ml-auto"%>
    <% end %>
    <div class="patch_literature">
      <%= render 'public/literatures/text_patch_new', {text: @text, literature: @literature, patch: @patch} %>
    </div>
  </div>
  <div class="col-xl-3">
    <%= render "public/patches/sample_patch"%>
  </div>
</div>




<script>
  $(document).on('page:restore', function () {
    location.reload();    });
  $(document).on('turbolinks:load', function () {
    var easyMDE = new EasyMDE({
        autoDownloadFontAwesome: false,
        minHeight: "250px",
        showIcons: ['strikethrough', 'code', 'table', 'redo', 'heading', 'undo', 'heading-bigger', 'heading-smaller', 'heading-1', 'heading-2', 'heading-3', 'clean-block', 'horizontal-rule'],
        element: document.getElementById('my-text-area'),
        // initialValue: '# EasyMDE \n Go ahead, play around with the editor! Be sure to check out **bold**, *italic* and ~~strikethrough~~ styling, [links](https://google.com) and all the other features. You can type the Markdown syntax, use the toolbar, or use shortcuts like `ctrl-b` or `cmd-b`.'
    });
  });
  $('.text-view').children('table').wrap('<div class="table-scroll">');
</script>