<div class="row">
  <div class="col-lg-9">
    <div class="patch-back">
      <%= render "public/patches/show",{patch: @patch} %>
      <div>
        <% @orders.each do |order| %>
          <%= render 'public/text_patch_orders/content_view', {order: order} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="sidebar-index">
      <%= render "layouts/main_content_sidebar",{text: nil ,problem: nil, column: nil, patch: @patch} %>
      <% @orders.each do |order| %>
        <%= render 'public/text_patch_orders/content_sidebar', {order: order} %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-9">
    <div class = "comment_area">
      <%= render "public/comments/comment_area" ,{comment: @comment, comments: @comments} %>
    </div>
  </div>
</div>


<script>
  $('table').wrap('<div class="table-scroll">');
</script>





