<span class="quick-drop">
  <%= form_with url: ajax_subjects_path, method: :get, remote: true do |f| %>
    <%= f.collection_select(:text_id, texts , :id, :title, selected: text.id) %>
    <%= f.hidden_field :problem_id ,value: problem.id%>
    <%= f.submit '表示'%>
  <% end %>
</span>
<div class="variation_image">
  <div class="bg-secondary">
    <%= attachment_image_tag text, :image, :fill, 60, 60 %>
    <p>単元名：<%= text.title %></p>
    <p>本文：<%= markdown(text.body) %></p>
    <p>ユーザーネーム：<%= text.admin.name %></p>
  </div>
</div>

<% if Subject.exists?(text_id: text.id, problem_id: problem.id) %>
  <spam>すでに結びついています。</spam>
<% else %>
  <%= form_with model: subject ,url: problem_subjects_path(problem) ,local:true do |f| %>
    <%= f.collection_select(:text_id, texts , :id, :title, selected: text.id) %>
    <%= f.hidden_field :kind ,value: problem.id%>
    <%= f.hidden_field :problem_id ,value: problem.subject_status%>
    <%= f.submit 'このテキストに紐づける。' %>
  <% end %>
<% end %>
