<div class="admin_sidebar-content text-center">
  <%= link_to 'ユーザー一覧' , admin_users_path  %>
</div>
<div class="admin_sidebar-content text-center">
  <%= link_to 'テキスト一覧' , admin_texts_path  %>
</div>
<div class="admin_sidebar-content text-center">
  <%= link_to 'コラム一覧' , admin_columns_path  %>
</div>
<div class="admin_sidebar-content text-center">
  <%= link_to '問題一覧' , admin_problems_path  %>
</div>
<div class="admin_sidebar-content text-center">
  <%= link_to 'パッチテキスト一覧' , admin_problems_path  %>
</div>
