<div class="sidebar-user">
  <div class="profile_image_box">
    <%= link_to admin_path(admin) do %>
      <% if admin.profile_image.attached? %>
        <%= image_tag admin.profile_image, class: "icon-image" %>
      <% else %>
       <%= image_tag "logo2.png", class: "icon-image" %>
      <% end %>
    <% end %>
  </div>
  <h5 class="ml-1"><%= admin.name %></h5>
  <!--<span class="menu-item"><%#= link_to "プロフィール", user_path(@user) %><br /></span>-->
  <% if admin == current_admin %>
    <span class="menu-item"><%= link_to "通知欄", admin_activities_path %></span>
    <span class="menu-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></span>
    <span class="menu-item"><%= link_to "管理ページへ", admin_users_path %></span>
  <% end %>
</div>