<div class="row">
  <div class="col-lg-9">
    <% @mixed_content.each do |content| %>
      <% case content.class.to_s %>
      <% when "Text" %>
        <%= render "public/texts/mini_show",{text: content} %>
      <% when "Column" %>
        <%= render "public/columns/mini_show",{column: content} %>
      <% when "Problem" %>
        <%= render "public/problems/mini_show",{problem: content} %>
      <% when "Patch" %>
        <%= render "public/patches/mini_show",{patch: content} %>
      <% end %>
    <% end %>
    <%= paginate @mixed_content %>
  </div>
  <div class="col-lg-3"></div>
</div>

<script>
  $('.problem-view').children('h3').wrap('<div class="h3-div">');
  $('table').wrap('<div class="table-scroll">');
</script>
