<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <% if current_user.present? %>
      <h4 class="pencil">○新規トピック</h4>
      <%= form_with model: @topic , local:true do |f| %>
        <div class="text-right pr-3">
          <%= f.label :question ,'質問形式でトピックを立てる'%>
          <%= f.check_box :question, {:checked => false}, true, false %>
        </div>

        <div class="d-flex">
          <%= f.text_field :title , class: "form-control"%>
          <%= f.submit '投稿', class: "tsbtn btn-11 my-0" %>
        </div>

      <% end %>
    <% end %>

    <% if @topics.present? %>
      <p class="heading01 m-3">トピック一覧</p>
      <div class="topic-index">
        <% @topics.each do |topic| %>
          <%= link_to  topic_path(topic) do %>
            <p><%= topic.title %><%= topic.user_id%><%= topic.created_at%></p>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p class="heading01 mt-3">トピックはありません。</p>
    <% end %>

  </div>
  <div class="col-lg-2"></div>
</div>
