<span class="quick-drop">
  <%= form_with url: ajax_path, method: :get, remote: true do |f| %>
    <div class="d-flex">
      <%= f.collection_select(:text_id, texts , :id, :title, selected: text.id ) %>
      <%= f.hidden_field :column_id ,value: column.id%>
      <%= f.submit '表示' , class: "sbtn btn-11"%>
    </div>
  <% end %>
</span>
<div class="confirm-box">
  <% if Link.exists?(text_id: text.id, column_id: column.id) %>
    <spam>すでに結びついています。</spam>
  <% else %>
    <%= form_with model: link ,url: column_links_path(column) ,local:true do |f| %>
      <%#= f.collection_select(:text_id, texts , :id, :title, selected: ) %>
      <%= f.hidden_field :text_id ,value: text.id%>
      <%= f.hidden_field :column_id ,value: column.id%>
      <%= f.submit 'このテキストに紐づける。' , class: "tbtn btn-11 my-2"%>
    <% end %>
  <% end %>
  <%= render "public/texts/show",{text: text} %>
</div>


