<h1>Public::Texts#show</h1>
<p>Find me in app/views/public/texts/show.html.erb</p>

<div>
  <%= attachment_image_tag @text, :image, :fill, 60, 60 %>

  <p>単元名：<%= @text.title %></p>
  <p>本文：<%= @text.body %></p>
  <p>ユーザーネーム：<%= @text.user.name %></p>
  <% if @text.user == current_user %>
    <%= link_to "編集", edit_text_path(@text) %>
    <%= link_to "削除", text_path(@text), method: :delete %>
  <% end %>
</div>