<div class="row" style="display: flex;">
  <div class ="col-lg-9">
    <%= render "public/texts/show",{text: @text} %>
    <!--テキストにlinkしたコラムの表示-->
    <% if @links.present? %>
      <div class="column-back">
        <% @text.columns.each do |column| %>
          <%= render "public/columns/show",{column: column} %>
        <% end %>
      </div>
    <% end %>
    <!--問題一覧-->
    <% if @problems.present? %>
      <div class="problem-back">
        <% @problems.each do |problem| %>
          <%= render "public/problems/show",{problem: problem} %>
        <% end %>
      </div>
    <% end %>
    <div class = "comment_area">
      <%= render "public/comments/comment_area" ,{comment: @comment, comments: @comments} %>
    </div>
  </div>
  <div class =" col-lg-3" >
    <div class="sidebar-index">
      <h4 class="index">目次</h4>
      <%= render "layouts/main_content_sidebar",{text: @text ,problem: nil, column: nil, patch: nil} %>
      <%= render "layouts/content_sidebar",{texts: nil,problems: @problems, columns: @text.columns, patches: @text.patches} %>
    </div>
  </div>
<!--コメント欄-->

</div>


<script>
  $('table').wrap('<div class="table-scroll">');
  $('.problem-view').children('h3').wrap('<div class="h3-div">');
  $('.commentary-btn').on('click',function(){
    $(this).children().slideToggle();
  });
  $('.answer-btn').on('click',function(){
   　$(this).children().slideToggle();
  });
</script>