<% if bookmark.marked_content_type == "Column" %>
  <h2 class="heading02">Column</h2>
  <%= render "public/columns/mini_show",{column: bookmark.marked_content} %>
<% elsif bookmark.marked_content_type == "Text"%>
  <div>
    テキスト
    <%= link_to text_path(bookmark.marked_content), local:true do %>
      <%= bookmark.marked_content.title %><br />
    <% end %>
    <%= markdown(bookmark.marked_content.body.truncate(80, separator: '.')) %>
  </div>
<% elsif bookmark.marked_content_type == "Patch"%>
  <div>
    パッチ
  <h2 class="heading03">Problem</h2>
  <%= render "public/patches/mini_show",{patch: bookmark.marked_content} %>
  </div>
<% elsif bookmark.marked_content_type == "Problem"%>
  <h2 class="heading03">Problem</h2>
  <%= render "public/problems/mini_show",{problem: bookmark.marked_content} %>
<% end %>