<% if bookmark.marked_content_type == "Column" %>
  <% content = Column.find(bookmark.marked_content_id) %>
  <div>
    <%= link_to column_path(content), local:true do %>
      <%= content.title %><br />
    <% end %>
    <%= markdown(content.body.truncate(80, separator: '.')) %>
  </div>
<% elsif bookmark.marked_content_type == "Text"%>
  <% content = Text.find(bookmark.marked_content_id) %>
  <div>
    <%= link_to text_path(content), local:true do %>
      <%= content.title %><br />
    <% end %>
    <%= markdown(content.body.truncate(80, separator: '.')) %>
  </div>
<% end %>