<div class="problem-main" id ="index-problem-<%=problem.id%>">
  <span class="bookmark_area bookmark-<%=problem.class%><%=problem.id%>">
    <%= render "public/bookmarks/bookmark_area" ,{content: problem} %>
  </span></br>
  <div class="problem-view">
    <%= markdown(problem.body) %>
  </div>
  <div class="answer-btn">　模範解答▼
    <div  style="display: none;" class="problem-view commentary-main">
      <%= markdown(problem.answer) %>
    </div>
  </div>
  <% unless problem.commentary.blank?  %>
    <div class="commentary-btn">　解説▼
      <div  style="display: none;" class="problem-view commentary-main">
        <%= markdown(problem.commentary) %>
      </div>
    </div>
  <% end %>
  <div class="content-show-link">
    <%= link_to '詳細ページへ', problem_path(problem), local:true  %>
  </div>
  <div class="content-bottom">
    <div class="author-icon">
      <% if problem.author_type ="User" %>
        <%= link_to user_path(problem.author), local:true do %>
          <% if problem.author.profile_image.attached? %>
            <%= image_tag problem.author.profile_image, class: "icon-image" %>
          <% else %>
           <%= image_tag 'logo2.png', class: "icon-image" %>
          <% end %>
          <%= problem.author.name %>
        <% end %>
      <% else %>
        <% if problem.author.profile_image.attached? %>
          <%= image_tag problem.author.profile_image, class: "icon-image" %>
        <% else %>
         <%= image_tag 'logo2.png', class: "icon-image" %>
        <% end %>
        <%= problem.author.name %>
      <% end %>
      <% if problem.author == current_user ||problem.author == current_admin %>
        <div class="dropdown">
          <button class="dropdown-toggle btn-not menu-item" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "編集", edit_problem_path(problem) ,class: "dropdown-item" ,data: {"turbolinks"=>false}%>
            <%= link_to "削除", edit_problem_path(problem) ,class: "dropdown-item" ,data: {"turbolinks"=>false}%>
          </div>
        </div>
      <% end %>
    </div>
    <div class="like_area like-<%=problem.class%><%=problem.id%>">
      <%= render "public/likes/like_area" ,{content: problem} %>
    </div>
  </div>
</div>