<div class="row">
  <div class="col-lg-9">
    <%= render "public/problems/mini_show",{problem: @problem} %>
    <h3>関連するテキストを選んでください。</h3>
    <!--テキストを選択して、仮表示ようのrender-->
    <div class="varidation_texts">
      <%= render 'public/subjects/text', {text: @text, texts: @texts, subject: @subject, problem: @problem} %>
    </div>
    <h3>すでに結びつけたテキスト</h3>
    <div>
      <% @problem.subjects.each do |subject| %>
      <div class="my-5">
        <%= render "public/texts/mini_show",{text: subject.text} %>
        <%= link_to "結びつきを解除",problem_subject_path(@problem,subject) , class: "mbtn btn-18 ml-auto mr-4",method: :delete%>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3">
    <%= link_to problem_path(@problem) ,class: "next-btn" do%>
      <span>問題の設定を</br>　　完了する</span>
    <% end %>
    <div class="sidebar-index">
      <%= render "layouts/main_content_sidebar",{text: nil ,problem: @problem, column: nil, patch: nil} %>
      <%= render "layouts/content_sidebar",{texts: @problem.texts ,problems: nil, columns: nil, patches: nil} %>
    </div>
  </div>
</div>


<script>
  $(document).on('page:restore', function () {
    location.reload();
  });
  $('table').wrap('<div class="table-scroll">');
  $('.problem-view').children('h3').wrap('<div class="h3-div">');
</script>