<div class="sidebar-user">
  <div class="profile_image_box">
    <%= link_to user_path(user) do %>
      <% if user.profile_image.attached? %>
        <%= image_tag user.profile_image, class: "icon-image" %>
      <% else %>
        <%= image_tag 'logo2.png' , class: "icon-image"%>
      <% end %>
    <% end %>
  </div>
  <h5 class="ml-1"><%= user.name %></h5>
  <span style="word-break: break-word;"><%= user.introduction %></span>
  <div>
    <% unless user == current_user || current_user.nil? %>
      <% if current_user.following?(user) %>
        <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: "mbtn ml-auto mr-0 follow" %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "mbtn ml-auto mr-0 unfollow" %>
      <% end %>
    <% end %>
  </div>
  <div class=" my-2 menu-item">
    <%= link_to "followers", user_followers_path(user) %> <span> | </span>
    <%= link_to "followings", user_followings_path(user) %>
  </div>
  <!--<span class="menu-item"><%#= link_to "プロフィール", user_path(@user) %><br /></span>-->
  <% if @user == current_user %>
    <span class="menu-item"><%= link_to "プロフィールを編集", edit_user_path(user) ,data: {"turbolinks"=>false} %></span>
    <span class="menu-item"><%= link_to '下書き一覧', user_draft_path(user)%></span>
    <span class="menu-item"><%= link_to 'ブックマーク', bookmarks_path%></span>
    <span class="menu-item"><%= link_to "通知欄", activities_path %></span>
    <span class="menu-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></span>
    <div class="dropdown">
      <button class="dropdown-toggle btn-not menu-item" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        more
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <%= link_to "編集", edit_user_path(user) ,class: "dropdown-item",data: {"turbolinks"=>false}%>
        <%= link_to "退会", users_confirm_path(current_user) ,class: "dropdown-item"%>
      </div>
    </div>
  <% end %>




</div>