<div class="row user-edit loose-leaf">
  <div class="col-lg-4 mt-5">
    <div class="profile_image_box">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, class: "icon-image" %>
      <% else %>
        <%= image_tag 'logo2.png' , class: "icon-image"%>
      <% end %>
    </div>
  </div>
  <div class="col-lg-8 mt-5">
    <h2>本当に退会しますか？</h2>
    <div class="form-group">
      <p>　退会すると、会員登録情報や</br>
      これまでの記事の編集が行えなくなります。</br>
      退会する場合は、「退会する」をクリックしてください。</p>
    </div>
    <div class="d-flex">
      <p class="text-center"><%= link_to '退会しない', user_path(@user), class: "sbtn btn-4" %></p>
      <p>
        <%= form_with model: @user, url: user_destroy_path(@user), local: true do |f| %>
          <%= f.hidden_field :is_deleted, value: true %>
          <%= f.submit '退会する', class: "sbtn btn-9" %>
        <% end %>
      </p>
    </div>
  </div>
</div>