<nav class="navbar navbar-expand-md navbar-light ">
  <div class="container-fluid">
    <%= link_to root_path do %>
       <%= image_tag "logo2.png" ,class: "logo mx-2"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
         <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'テキスト一覧', texts_path,class: "nav-link active nav-line-height nav-link-active" ,data: {"turbolinks"=>false}%>
            </li>
            <li class="nav-item">
              <%= link_to '新規問題投稿', new_problem_path,class: "nav-link active nav-line-height nav-link-active" ,data: {"turbolinks"=>false}%>
            </li>
            <li class="nav-item">
              <%= link_to 'コラム投稿', new_column_path,class: "nav-link active nav-line-height nav-link-active" ,data: {"turbolinks"=>false}%>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path,class: "nav-link active nav-line-height nav-link-active"%>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path ,class: "nav-link active nav-line-height nav-link-active"%>
            </li>
            <li class="nav-item">
              <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post ,class: "nav-link active nav-line-height nav-link-active"%>
            </li>
          <% end %>
          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to 'テキスト新規投稿', new_admin_text_path,class: "nav-link active nav-line-height nav-link-active" ,data: {"turbolinks"=>false}%>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete  ,class: "nav-link active nav-line-height nav-link-active"%>
            </li>
          <% end %>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.profile_image.attached? %>
                <%= image_tag current_user.profile_image, class: "profile-icon" %>
              <% else %>
               <%= image_tag "logo2.png", class: "profile-icon" %>
              <% end %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <%= link_to "マイページ", user_path(current_user) ,class: "dropdown-item"%>
              <%= link_to "通知欄", activities_path ,class: "dropdown-item"%>
              <%= link_to 'ブックマーク', bookmarks_path,class: "dropdown-item"%>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete  ,class: "dropdown-item"%>
            </div>
          </li>
        <% end %>
        <% if admin_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_admin.profile_image.attached? %>
                <%= image_tag current_admin.profile_image, class: "profile-icon"%>
              <% else %>
               <%= image_tag "logo2.png", class: "profile-icon" %>
              <% end %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <%= link_to "マイページ", admin_path(current_admin) ,class: "dropdown-item"%>
              <%= link_to "通知欄", admin_activities_path ,class: "dropdown-item"%>
              <%= link_to "管理者ページへ", admin_users_path ,class: "dropdown-item"%>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete  ,class: "dropdown-item"%>
            </div>
          </li>
        <% end %>
      </ul>

          <%= form_with url: search_path, method: :get,class: "d-flex ml-auto mr-0 ",local: true do |f| %>
            <%= f.text_field :keyword, value: @keyword,  class: "form-control me-2"%>
            <%= f.submit "検索", class: "btn btn-outline-success flex-shrink-0" %>
          <% end %>

    </div>
  </div>
</nav>