<!DOCTYPE html>
<html>
  <head>
    <title>coToLumn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/199c184033.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        showProcessingMessages: false,
        tex2jax: { inlineMath: [['$','$'],['\(','\)']] }
      });
    </script>
    <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <header>
<!--ヘッダ-->
    <nav class="navbar navbar-expand-md navbar-light ">
      <div class="container-fluid">
        <%= link_to root_path do %>
           <%= image_tag "logo2.png" ,class: "logo mx-2"%>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
             <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to 'トピック一覧', topics_path,class: "nav-link active" ,data: {"turbolinks"=>false}%>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path,class: "nav-link active"%>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path ,class: "nav-link active"%>
                </li>
                <li class="nav-item">
                  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post ,class: "nav-link active"%>
                </li>
              <% end %>
              <% if admin_signed_in? %>
                <li class="nav-item bg-secondary">
                  <%= link_to 'テキスト', new_admin_text_path,class: "nav-link active" ,data: {"turbolinks"=>false}%>
                </li>
                <li class="nav-item bg-secondary">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete  ,class: "nav-link active"%>
                </li>
              <% else %>
                <li class="nav-item  bg-secondary">
                  <%= link_to "新規登録", new_admin_registration_path,class: "nav-link active"%>
                </li>
                <li class="nav-item  bg-secondary">
                  <%= link_to "ログイン", new_admin_session_path ,class: "nav-link active"%>
                </li>
              <% end %>
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= attachment_image_tag current_user, :profile_image, fallback: "logo2.png", class: "profile-icon" %>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <%= link_to "マイページ", user_path(current_user) ,class: "dropdown-item"%>
                  <%= link_to "通知欄", activities_path ,class: "dropdown-item"%>
                  <%= link_to 'ブックマーク', bookmarks_path,class: "dropdown-item"%>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete  ,class: "dropdown-item"%>
                </div>
              </li>
            <% end %>
          </ul>
         <form class="d-flex ml-auto mr-0">
            <input class="form-control me-2" type="search" placeholder="検索..." aria-label="検索...">
            <button class="btn btn-outline-success flex-shrink-0" type="submit">検索</button>
          </form>
        </div>
      </div>
    </nav>
<!--ヘッダー-->

    <div class="nav-scroller py-1 mb-2 mx-auto" style="width: 90vw; overflow-x: auto;     white-space: nowrap;">
      <nav class="blog-nav d-flex justify-content-between">
        <%= link_to '記事一覧', texts_path,class: "text-muted p-2" ,data: {"turbolinks"=>false}%>
        <%= link_to '問題一覧', problems_path, class: "text-muted p-2" %>
        <% if user_signed_in? %>
          <%= link_to '新規問題投稿', new_problem_path,class: "text-muted p-2" ,data: {"turbolinks"=>false}%>
        <% end %>
        <%= link_to 'コラム一覧', columns_path,class: "text-muted p-2" %>
        <% if user_signed_in? %>
          <%= link_to 'コラム投稿', new_column_path,class: "text-muted p-2" ,data: {"turbolinks"=>false}%>
        <% end %>
        <a class="text-muted p-2" style="display: box;" href="#">算数</a>
        <a class="text-muted p-2" style="display: box;" href="#">理科</a>
        <a class="text-muted p-2" style="display: box;" href="#">国語</a>
        <a class="text-muted p-2" style="display: box;" href="#">社会</a>
        <a class="text-muted p-2" style="display: box;" href="#">英語</a>
        <a class="text-muted p-2" style="display: box;" href="#">体育</a>
        <a class="text-muted p-2" style="display: box;" href="#">音楽</a>
        <a class="text-muted p-2" style="display: box;" href="#">家庭科</a>
        <a class="text-muted p-2" style="display: box;" href="#">技術</a>
        <a class="text-muted p-2" style="display: box;" href="#">図工</a>
        <a class="text-muted p-2" style="display: box;" href="#">図書</a>
        <a class="text-muted p-2" style="display: box;" href="#">総合</a>
      </nav>
    </div>
    </header>
    <main style="width: 100vw; overflow-x: hidden;">
      <div class="container mb-5 pl-3">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </div>
    </main>
    <footer class="footer">
      <%= render "layouts/footer"  %>
    </footer>
  </body>
</html>
